#tablecontent{
	background:#FFF;	
}
#tablecontent .table1{
	
}
.table1  table{
	width:50%;
	
}
.table2{

}
.table2 table{
	width:25%;
}
.table2 table td a{
	font-size:14px;
	
}
.table2 table td input{
	
}