.divbranch{
	margin:30px 0px;
}
.divbranch table{
	
}
.divbranch table  td,.divbranch table th{
	text-align:center;
}

	
#tablecontent{
	
}
.back{
		
}
.back a{
	font-size:14px;
}
.code{
	
}
.name{
	
}
.edit{
	/*width:50px;*/
}
.delete{
	
}