#align_content{
    height: 40px;
    line-height:38px;
    margin:10px;
}
.align{
    float:left
}
.align  table{
    margin:0px 7px !important;
}
#divcheck{
    margin:10px 10px 10px 10px;
    height:35px;
    line-height:35px;
    clear:both;
}
#divcheck td{
    padding-left:10px;
}
#divcheck  table{
    width:80%;
}
#divcheck table tr{

}
.sf-menu li ul{
    margin-left:35px;
}
#date_table{
    margin:10px 0px 10px 20px;
    line-height:40px;
}
#date_table .table{
    margin-left:0px;
}
.date_input input{
    margin-bottom:0px;
}
.btn-mini{
    margin-bottom:10px;
    padding:1px 6px 6px;
}
.table{
    margin-bottom:0px;
    /* height:30px;
    float:left;
    width:290px;
    line-height:30px; */
}
.stable{
    /* height:30px; */
}
.date_content{
    height:30px;
    float:left;
}
.date_content a{
    float:left;
    margin-right:20px;
}
.date_content input{
    float:left;
    margin-right:25px;
}
#reset{
    margin:15px 25px 15px 15px;
    height:30px;
}

.button{

    float: right;
    /* height: 30px;
    line-height: 30px;
        margin:0px 30px;
        text-align:center; */
}
.button input{
    /*height:23px;
    line-height:15px;
    width:65px;*/
    /* font-weight: bold;
    padding:2px 2px 4px; */
}
#col1{
    /* width:235px; */
}
#col {
    /* width:275px; */
}

#divResult .first ,#areaResult .first{
    /* width:277px !important; */
    padding:0px ;
}
#divResult  .last , #areaResult .last{
    width:198px !important;
    padding:0px ;
}
#areaResult{
    text-align:center;
    overflow:hidden;
}
#areaResult.second{
    width:107px;
}
#divResult{
    width:100%;
    text-align:center;
    overflow:hidden;
}
#storeResult {

}
#storeResult .first{

    padding:0px ;
}
#storeResult .second{

    padding:0px ;
    /*width:292px !important;*/
}
.viewSalesOrder{
    /* 	-webkit-border-radius: 2px;
            -moz-border-radius: 2px;
            border:1px solid #CACACA; */
    height: auto;
    clear:both;
}
.table1{
    min-height:170px;
    height:auto;
    background:#fff;
    border-radius:10px;
}
.divTitleRow{
    font-size:15px;
    /*height:30px;*/
}
.divTitleRow table{
    width:100%;
    /* border-bottom:1px solid black; */
    border-spacing:0;
    color: white;
}
.divTitleRow table.even {
    background:#F9F9F9;
}
.divTitleRow table.odd{
    background:#F5F0F5;
}
.divTitleRow table td{
    font-size: 12px;
    height: 35px;
    color: #0F1656;
    overflow:hidden;
    line-height:33px;
    border-top:none;
    text-align:center;
}
.divTitleRow table td a{
    font-weight: bold;
    color: #1830F2;
}
.divTitleRow table tr{

}
.colView{
    float: left;
    width: 3%;
    border-right: 1px solid #CACACA;
    text-align: center;
}
.colDate{
    float: left;
    width: 150px;
    border-right: 1px solid #CACACA;
    text-align: center;
}
.colDateVal{
    float: left;
    width: 13%;
    border-right: 1px solid #CACACA;
    text-align: center;
}
.colSoNo{
    float: left;
    width: 8%;
    border-right: 1px solid #CACACA;
    text-align: center;
}
.colAmount{
    float: left;
    width: 8%;
    border-right: 1px solid #CACACA;
    text-align: center;
}
.colDivName{
    float: left;
    width: 8%;
    border-right: 1px solid #CACACA;
    text-align: center;
}
.colStatus{
    float: left;
    width: 9%;
    border-right: 1px solid #CACACA;
    text-align: center;
}
.colCustomer{
    float: left;
    width: 25%;
    border-right: 1px solid #CACACA;
    text-align: center;
    overflow:hidden;
}
.colDownloaded{
    float: left;
    /*width: 90px;*/
    text-align: center;
    padding:1px 10px;
    width:105px;
}
.item{
    border-top:1px solid #CACACA;

    overflow-x: hidden;
    height: 320px;
    font-size: 12px !important;
}
.colcloseval{
    float: left;
    width: 75px;
    height: 30px;
}
.viewheight{
    height:60px;
}
.TitleRow{
    /* background-color:#AAAAAA;
    color: white; */
}
.TitleRow th{
    /* height:28px;
    line-height:28px; */
    /*font-style: italic;*/
    /* font-size: 12.5px;*/
    border-top:0px;
    text-align:center;
}
.TitleRow table{
    height:30px;
    border-spacing:0;
    width:98.5%;
}
input[type=text]{
    font-family: Arial;
    font-size: 12px;
    padding-left:3px;
}
#resultRows{
    /* background:#C1D7E6; */
}
.item #nodataspan {
    text-align:center;
    padding:0px 380px;
    font-size:15px;
    color:red;

}
